@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: museo;
    src: url(../public/fonts/MuseoSansCyrl700.otf);
}

body {
    font-family: museo, sans-serif;
}

.active_menu{
    background: linear-gradient(88.49deg, rgba(255, 255, 255, 0.97) 37.18%, rgba(255, 255, 255, 0.87) 54.88%, rgba(255, 255, 255, 0.64) 69.27%, rgba(255, 255, 255, 0) 98.89%);
}
.gradient-text {
    background: linear-gradient(90.21deg, #E122F9 4.11%, #6F2FF5 53.99%, #2B1EDD 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content; /* Yoki kerakli balandlikni bering */
}
.arrow_svg{
    transition: all .3s;
}
.arrow_btn:hover .arrow_svg{
    transform: translateX(10px);
}

.opacity_hover{
    transition: all .3s;
    opacity: 100%;
}
.opacity_hover:hover{
    opacity: 50%;
}