@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: museo;
    src: url(../public/fonts/MuseoSansCyrl700.otf);
}

body {
    font-family: museo, sans-serif;
}

.active_menu {
    background: linear-gradient(88.49deg, rgba(255, 255, 255, 0.97) 37.18%, rgba(255, 255, 255, 0.87) 54.88%, rgba(255, 255, 255, 0.64) 69.27%, rgba(255, 255, 255, 0) 98.89%);
}

.gradient-text {
    background: linear-gradient(90.21deg, #E122F9 4.11%, #6F2FF5 53.99%, #2B1EDD 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
    /* Yoki kerakli balandlikni bering */
}

.arrow_svg {
    transition: all .3s;
}

.arrow_btn:hover .arrow_svg {
    transform: translateX(10px);
}

.opacity_hover {
    transition: all .3s;
    opacity: 100%;
}

.opacity_hover:hover {
    opacity: 50%;
}

.title {
    font-weight: bold;
    /* font-bold */
    font-size: 2.25rem;
    /* text-4xl (equivalent to 36px) */
    line-height: 2.25rem;
    /* leading-9 */
    /* text-[#3B3B3B] */
}

.linear_default_gradiend {
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px 0px #00000012;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Skrollning kengligi */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2B1EDD;
    /* Skrollning rangi */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #EDEDED;
    /* Skroll trekining rangi */
}


.audio_top {
    background-image: url(../../public/img/audio/bg.png);
    background-size: cover;
}

.hover_btn_2 {
    background-color: #ECECEC;
    border: 1px solid transparent;
    transition: all .3s;
}

.hover_btn_2:hover {
    background-color: transparent;
    border: 1px solid #ECECEC;
}

.team_link {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #434343;
    border: 1px solid #828282;
    transition: all .3s;
}

.team_img {
    filter: grayscale(0);
    transition: all .3s;
}

.team_card:hover .team_img {
    filter: grayscale(100%);
}

.team_card:hover .team_link {
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    border: 1px solid transparent;
    color: white;
}


.swiper-button-disabled {
    opacity: 50%;
}
.btn_shop{
    border: 1px solid #828282;
}
.book_btn_box:hover .btn_shop {
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    color: white;
    border: 1px solid transparent;
}
.book_btn_box:hover .book_btn_svg{
    color: #2B1EDD;
}

.books_box {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  

@media(max-width: 768px) {
    .audio_top {
        background-image: url(../../public/img/audio/mobile_bg.png);
        background-size: cover;
    }
}

@media (min-width: 768px) {

    /* md breakpoint */
    .title {
        font-size: 40px;
        /* md:text-[40px] */
        line-height: 50px;
        /* md:leading-[50px] */
    }

}